*{
	margin:0;
	padding: 0;
	font-size: 12px;
}
body{
	background-color: #F5F5F5;
	background-image: url(pic/bk.png);
	background-repeat: no-repeat;
}
#logo{
	float: left;
}
.top{
	margin: 0;
	width: 1500px;
	height: 27px;
}
.top_content{	
	width:1000px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: white;
}
.top_contnt ul{
	float: right;
	margin-left: 20px;
	list-style: none;	
}

.top_contnt li:first-child{
	list-style: none;
	font-size:26px;
	color:yellow;
}

.startitle{
	float: left;
	margin-top: 150px;
	width: 300px;
	height: 600px;
	background-color: rgb(207,177,141);
}


h1{
	width:260px;
	margin: 20px;
	text-align:center;

	line-height: 80px;	
	font-size: 30px;
	background-repeat:no-repeat;
	color: #000;
	background-color: rgb(209,105,62);
}

.title_content{
	float:right;
	width: 460px;
	height: 312px;
	margin-top: 69px;
	margin-left: 10px;
	background-color:rgb(207,177,141);
}
.title_content_two{
	width: 460px;
	height: 30px;
	
}
.title_content_two li{
	float: left;
	width:113px;
	line-height: 50px;
	font-size: 20px;
	border:1px solid rgb(150,110,0);
	list-style-type: none;
	text-align: center;
	background-color: rgb(150,110,0);
}
.ad{
	margin-top: 69px;
	margin-left: 15px;
	float: left;
	width: 400px;
	height: 300px;
	overflow: hidden;
}
.biaoti p{
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid black;
}
.content li{
	list-style-type: none;
	font-size: 20px;
	line-height: 25px;
}
.more{
float: right;
}
.more_two{
	float: right;
	line-height: 70px;
}
.hot_activity{
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	width:875px;
	height:270px;
	background-color: rgb(207,177,141);
}

.four_activity li{
	list-style-type: none;
	float: left;
	margin-left:25px;
	margin-top: 55px;
}
span{
	display: block;
	margin-left: 65px;
	
}
span:hover{

	font-weight: bold;
	color:#e4393c;
}
.lianxi{
	float: left;
	margin-left: -298px;
	margin-top: 20px;
	width:300px;
	height: 500px; 
	background-color: rgb(237,214,186);
}
.lianxi li{
	list-style-type: none;
	font-size: 15px;
	text-align: center;
	color: rgb(149,106,61);
}
.kefu{
	margin-top: 10px;
}
.game_mes{
	float: left;
	width: 600px;
	height: 270px;
	margin-top: 20px;
	margin-left: 15px;
	background-color: rgb(237,214,186);
}
.game_mes_two{
	width:600px;
	height: 50px;
	border-bottom: 1px solid rgb(149,106,61);
}
.topmenu li{
	height: 30px;
	line-height: 30px;
	list-style-type: none;
	text-align: left;
	padding-left: 8px;
	z-index: 3;
	margin-top:10px;
}
.topmenu li a{
	font-size: 12pt;
	color: black;
	margin-left: 8px;	
}
.topmenu li a:hover{
	font-weight: bold;
	color:#e4393c;
}
.topmenu li:hover .submenu{
	display: block;
}
.topmenu li:first-child .submenu{
	display: block;
}

.submenu{
	display: none;
	width:480px; 
	height:180px;
	float: left;
	position: absolute;
	left: 720px;
	top: 830px;
	border:1px solid #DDD;
	z-index: 4;
	background-color: rgb(237,214,186);
}
.hero_name li:first-child{
	margin-left: 20px;
}

.hero_name li{	
	float: left;
	margin-left: 40px;
	margin-top: 1px;
}
.hero_name li:hover{
	color:red;
}
.two_hero{
	display: block;
	float: left;
}
.shiping{
	float: right;
	width:250px;
	height: 430px;
	margin-left: 15px;
	margin-top: 20px;
	background-color: rgb(237,214,186);
	background-image: url(pic/video.png);
	background-repeat: no-repeat;
}

.game_book{
	float: left;
	width:600px;
	height: 225px;
	margin-left: 15px;
	margin-top: 20px;
	background-color: rgb(237,214,186);
}
.game_bookTwo{
	width:300px;
	height:173px;
	float: left;
	border-right: 1px dashed rgb(149,106,61);
}
.game_bookTwo li,.game_bookThree li,.hot_title_two li{
		list-style-type: none;
		margin-top: 10px;
}
.game_bookTwo li a,.game_bookThree li a,.hot_title_two li a{
	margin-left: 10px;
	font-size: 10pt;
	color: black;
}
.game_bookTwo li a:hover,.hot_title_two li a:hover{
	color: red;
}
.game_bookThree{
	margin-left: 10px;
	font-size: 10pt;
	color: black;
}
.game_bookThree li a:hover{
	color: red;
}



.look{
	float: left;
	width:300px;
	height: 182px;
	margin-left:310px;
	margin-top: 15px;
	background-color: rgb(237,214,186);
}

.community{
	float: left;
	width:600px;
	height: 188px;
	margin-top: 15px;
	margin-left: 15px; 
	background-color: rgb(237,214,186);
}
.hot{
	width: 600px;
	height: 50px;
	border-bottom: 1px solid rgb(149,106,61);
}

.hot_title_two{
	width:300px;
	height:138px;
	float: left;
	border-right: 1px dashed rgb(149,106,61);
}
.player{
	float: left;
	width:250px;
	height: 273px;
	margin-left:25px;
	position: relative;
	top: -70px;
	background-color: rgb(237,214,186);
}
.bottom{
	float: left;
	width:1190px;
	height: 160px;
	margin-left:310px;
	margin-top: -55px;
	background-color: rgb(237,214,186);
}
.bottom_content{	
	list-style-type: none;
}
.bottom_content li a{	
	float: left;
	margin-left: 120px;
	color: black;
	font-size: 10pt;
}
.bottom_content li a:hover{
	color:red;
}